@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak]{
    display: none !important;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'rust';
    src: url('../fonts/Rust.ttf');
}

.bebas{
    font-family: 'Bebas Neue', sans-serif;
}
.space{
    font-family: 'Space Grotesk', sans-serif;
}
.roboto{
    font-family: 'Roboto Mono', monospace;
}
.rust{
    font-family: 'rust';
}

p{
    font-family: 'Roboto Mono', monospace;
}